<section>
    <div>
        <h2>No-code Education Platform</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <button>About us</button>
        <ul>
            <li>
                <img src="#" alt="example-of-working">
                <h3>Premium courses from the industry leaders</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <button>Get started</button>
                <a href="#">Learn more</a>
                <svg>
                    <use></use>
                </svg>
            </li>
            <li>
                <img src="#" alt="workin-in-team">
                <h3>Easily find the perfect course for you</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                <button>Get started</button>
                <a href="">Learn more</a>
                <svg>
                    <use></use>
                </svg>
            </li>
        </ul>
    </div>
</section>