<section class="about-us">
  <div class="container">
    <div class="about-us-wrapper">
      <h2 class="content-title about-us-title">No-code Education Platform</h2>
      <p class="about-us-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <button class="about-us-btn">About us</button>
    </div>
    <ul class="about-us-list">
      <li class="about-us-list-item">
        <img
          src="../img/example-of-working.jpg"
          alt="example-of-working"
          class="about-us-list-img"
        />
        <div class="about-us-list-item-conten-wrapper">
          <h3 class="content-title">
            Premium courses from the industry leaders
          </h3>
          <p class="about-us-list-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <div class="about-us-list-item-btns-wrapper">
            <button class="about-us-btn about-us-list-item-btn">
              Get started
            </button>
            <a href="#" class="about-us-list-link">
              Learn more
              <svg width="12" height="13" class="about-us-list-icon">
                <use href="../img/symbol-defs.svg#icon-chevron_right"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="about-us-list-item">
        <img
          src="../img/work-in-team.jpg"
          alt="work in team"
          class="about-us-list-img"
        />
        <div class="about-us-list-item-conten-wrapper">
          <h3 class="content-title">
            Premium courses from the industry leaders
          </h3>
          <p class="about-us-list-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros elementum tristique. Duis cursus, mi quis
            viverra ornare, eros dolor interdum nulla, ut commodo diam libero
            vitae erat.
          </p>
          <div class="about-us-list-item-btns-wrapper">
            <button class="about-us-btn about-us-list-item-btn">
              Get started
            </button>
            <a href="#" class="about-us-list-link">
              Learn more
              <svg width="12" height="13" class="about-us-list-icon">
                <use href="../img/symbol-defs.svg#icon-chevron_right"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
