<section>
    <h2>Grow your knowledge from best teachers in the industry</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>
    <ul>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>Over 430+ hours of lessons</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>40+ teachers</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
        <li>
            <img src="#" alt="people-are-working">
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>Online community</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>1-on-1 coaching</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
        </li>
    </ul>
    <button>Get started</button>
</section>