<section class="benefits">
  <div class="container benefits-container">
    <div class="benefits-text-wrapper">
      <h2 class="content-title benefits-title">
        Grow your knowledge from best teachers in the industry
      </h2>
      <p class="benefits-subtitle">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare.
      </p>
    </div>
    <ul class="benefits-list">
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-lesson"></use>
        </svg>
        <h3 class="benefits-list-item-title">Over 430+ hours of lessons</h3>
        <p class="benefits-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-teachers"></use>
        </svg>
        <h3 class="benefits-list-item-title">40+ teachers</h3>
        <p class="benefits-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="benefits-list-item">
        <img src="../img/people-are-working.jpg" alt="people-are-working" />
      </li>
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-community"></use>
        </svg>
        <h3 class="benefits-list-item-title">Online community</h3>
        <p class="benefits-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
      <li class="benefits-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-coach"></use>
        </svg>
        <h3 class="benefits-list-item-title">1-on-1 coaching</h3>
        <p class="benefits-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros.
        </p>
      </li>
    </ul>
    <button class="benefits-btn">Get started</button>
  </div>
</section>
