<section>
    <h2>Our latest posts</h2>
    <button>View all</button>
    <ul>
        <li>
            <img src="#" alt="blog-photo">
            <span>Freelance</span>
            <h3>7 freelance mistakes to avoid</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            <a href="#">Read more</a>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <img src="#" alt="blog-photo">
            <span>UI/UX Design</span>
            <h3>Brand design process explained</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            <a href="#">Read more</a>
            <svg>
                <use></use>
            </svg>
        </li>
        <li>
            <img src="#" alt="blog-photo">
            <span>Business</span>
            <h3>The beginner’s guide to recruiting a Webflow developer</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            <a href="#">Read more</a>
            <svg>
                <use></use>
            </svg>
        </li>
    </ul>
</section>