<section class="blog">
  <div class="container">
    <div class="blog-top-wrapper">
      <h2 class="blog-title">Our latest posts</h2>
      <button class="blog-btn">View all</button>
    </div>
    <ul class="posts-list">
      <li class="post">
        <img src="../img/postphoto1.jpg" alt="blog-photo" />
        <div class="post-content-wrapper">
          <span class="post-theme">Freelance</span>
          <h3 class="post-title">7 freelance mistakes to avoid</h3>
          <p class="post-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
          <a href="#" class="post-link"
            >Read more
            <svg width="12" height="13">
              <use href="../img/symbol-defs.svg#icon-chevron_right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="post">
        <img src="../img/postphoto2.jpg" alt="blog-photo" />
        <div class="post-content-wrapper">
          <span class="post-theme">UI/UX Design</span>
          <h3 class="post-title">Brand design process explained</h3>
          <p class="post-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
          <a href="#" class="post-link"
            >Read more
            <svg width="12" height="13">
              <use href="../img/symbol-defs.svg#icon-chevron_right"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="post">
        <img src="../img/postphoto3.jpg" alt="blog-photo" />
        <div class="post-content-wrapper">
          <span class="post-theme">Business</span>
          <h3 class="post-title">
            The beginner’s guide to recruiting a Webflow developer
          </h3>
          <p class="post-subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
          <a href="#" class="post-link"
            >Read more
            <svg width="12" height="13">
              <use href="../img/symbol-defs.svg#icon-chevron_right"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
