<section class="foot-search">
  <div class="container foot-search-wrapper">
    <form class="foot-form">
      <label class="foot-form-title"
        >Join our newsletter to stay up to date on features and releases.</label
      >
      <input
        type="text"
        class="foot-form-input"
        placeholder="Enter your email"
      />
      <button class="foot-form-btn">Subscribe</button>
      <label class="foot-form-subtitle"
        >By subscribing you agree to with our
        <a href="#" class="foot-form-subtitle-link">Privacy Policy</a> and
        provide consent to receive updates from our company.</label
      >
    </form>
    <ul class="foot-form-list">
      <li class="foot-form-list-item">
        <h2 class="foot-form-list-title">Pages</h2>
        <ul class="foot-form-list-second-list">
          <li>
            <a class="foot-form-list-link" href="#">Home</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">About</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Contact</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Blog</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Courses</a>
          </li>
        </ul>
      </li>
      <li class="foot-form-list-item">
        <h2 class="foot-form-list-title">CMS Pages</h2>
        <ul class="foot-form-list-second-list">
          <li>
            <a class="foot-form-list-link" href="#">Blog Post</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Blog Categories</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Courses Single</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Courses Categories</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Product Page</a>
          </li>
        </ul>
      </li>
      <li class="foot-form-list-item">
        <h2 class="foot-form-list-title">Account Pages</h2>
        <ul class="foot-form-list-second-list">
          <li>
            <a class="foot-form-list-link" href="#">Login</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Sign Up</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Forgot Password</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Reset Password</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Email Confirmation</a>
          </li>
        </ul>
      </li>
      <li class="foot-form-list-item">
        <h2 class="foot-form-list-title">Utility Pages</h2>
        <ul class="foot-form-list-second-list">
          <li>
            <a class="foot-form-list-link" href="#">Style Guide</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Changelog</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Licenses</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">404</a>
          </li>
          <li>
            <a class="foot-form-list-link" href="#">Password</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
