<header class="header">
    <div class="container header-container">
        <nav class="header-navigation">
          <ul class="nav-list">
              <li class="nav-list-item">
                  <a href="#Home" class="nav-list-link">Home</a>
              </li>
              <li class="nav-list-item">
                  <a href="#About" class="nav-list-link">About</a>
              </li>
              <li class="nav-list-item">
                  <a href="#Blog" class="nav-list-link">Blog</a>
              </li>
              <li class="nav-list-item">
                  <a href="#Contact" class="nav-list-link">Contact</a>
              </li>
              <li class="nav-list-item">
                  <a href="#Courses" class="nav-list-link">Courses</a>
              </li>
          </ul>
        </nav>
          <ul class="nav-buttons-list">
              <li class="nav-buttons-list-item">
                  <svg width="19" height="30" class="nav-buttons-icons">
                      <use href="../img/symbol-defs.svg#icon-search"></use>
                  </svg>
                  <a href="#" class="nav-list-link">Search</a>
              </li>
              <li class="nav-buttons-list-item">
                  <svg width="19" height="30" class="nav-buttons-icons">
                      <use href="../img/symbol-defs.svg#icon-shopping-cart"></use>
                  </svg>
                  <a href="#" class="nav-list-link">Cart</a>
              </li>
              <li class="nav-buttons-list-item">
                <button class="login-btn">
                  Sign Up
                </button>
            </li>
          </ul>
    </div>
</header>
