<header>
  <nav>
    <ul>
        <li>
            <a href="#Home">Home</a>
        </li>
        <li>
            <a href="#About">About</a>
        </li>
        <li>
            <a href="#Blog">Blog</a>
        </li>
        <li>
            <a href="#Contact">Contact</a>
        </li>
        <li>
            <a href="#Courses">Courses</a>
        </li>
    </ul>
  </nav>
  <div>
    <ul>
        <li>
            <svg>
                <use></use>
            </svg>
            <a href="#">Search</a>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <a href="#">Cart</a>
        </li>
    </ul>
  </div>
  <button>
    Sign Up
  </button>
</header>
