<section>
    <h1>Become an No-Code expert and find a job</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel molestie magna curabitur tincidunt nunc sit amet.</p>
    <button>Explore Courses</button>
    <a href="#">Watch Video</a>
    <svg>
        <use></use>
    </svg>
    <img src="#" alt="reviewers">
    <svg>
        <use></use>
    </svg>
    <p>From 3k+ reviews</p>
    <img src="#" alt="main-img">
    <p>Trusted by the world's best companies</p>
</section>