<section class="hero">
  <div class="container">
    <div class="hero-wrapper">
      <div class="main-content-hero-container">
        <h1 class="hero-title">Become an No-Code expert and find a job</h1>
        <p class="hero-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
          vel molestie magna curabitur tincidunt nunc sit amet.
        </p>
        <div class="hero-content-wrapper">
          <div class="btns-hero-wrapper">
            <button class="hero-btn">Explore Courses</button>
            <a href="#" class="hero-link">
              Watch Video
              <svg width="24" height="36" class="hero-link-icon">
                <use href="../img/symbol-defs.svg#icon-play-outline"></use>
              </svg>
            </a>
          </div>
          <div class="reviewers-wrapper">
            <img src="../img/Frame.jpg" alt="reviewers" />
            <div class="reviewers-feedback-wrapper">
              <svg width="132" height="24">
                <use href="../img/symbol-defs.svg#icon-stars"></use>
              </svg>
              <p class="rewievers-text">From 3k+ reviews</p>
            </div>
          </div>
        </div>
      </div>
      <img src="../img/Hero-image.jpg" alt="main-img" class="hero-image" />
    </div>
    <p class="hero-subtitle second">Trusted by the world's best companies</p>
  </div>
</section>
