<section>
    <h2></h2>
    <p></p>
    <button></button>
    <img src="#" alt="our-team">
    <ul>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>Browse our courses</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique duis cursus mi quis viverra.</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>Purchase quickly and securely</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique duis cursus mi quis viverra.</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <h3>Start learning right away</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique duis cursus mi quis viverra.</p>
        </li>
    </ul>
</section>