<section>
  <div class="container">
    <div class="join-us-wrapper">
      <div class="join-us-text-wrapper">
        <h2 class="content-title">
          Join more than 17,000+ students all over the world
        </h2>
        <p class="join-us-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare.
        </p>
        <button class="join-us-btn">Get started</button>
      </div>
      <img src="../img/our-team.jpg" alt="our-team" />
    </div>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-team"></use>
        </svg>
        <h3 class="advantages-list-item-title">Browse our courses</h3>
        <p class="advantages-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique duis cursus mi quis viverra.
        </p>
      </li>
      <li class="advantages-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-shield"></use>
        </svg>
        <h3 class="advantages-list-item-title">
          Purchase quickly and securely
        </h3>
        <p class="advantages-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique duis cursus mi quis viverra.
        </p>
      </li>
      <li class="advantages-list-item">
        <svg width="48" height="48">
          <use href="../img/symbol-defs.svg#icon-study"></use>
        </svg>
        <h3 class="advantages-list-item-title">Start learning right away</h3>
        <p class="advantages-list-item-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique duis cursus mi quis viverra.
        </p>
      </li>
    </ul>
  </div>
</section>
