<section class="start-learning-today">
  <div class="container">
    <h2 class="start-learning-today-title">Start learning today</h2>
    <p class="start-learning-today-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <ul class="start-learning-today-list">
      <li class="start-learning-today-list-item">
        <button class="start-learning-today-list-item-btn">Get started</button>
      </li>
      <li class="start-learning-today-list-item">
        <button class="start-learning-today-list-item-btn">Contact us</button>
      </li>
    </ul>
  </div>
</section>
