<section>
    <h2></h2>
    <p></p>
    <ul>
        <li>
            <svg>
                <use></use>
            </svg>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</p>
            <img src="#" alt="profile-image">
            <h3>Orlando Diggs</h3>
            <p>Junior UI Designer, @Company</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</p>
            <img src="#" alt="profile-image">
            <h3>Mollie Hall</h3>
            <p>Design System Manager, @Company</p>
        </li>
        <li>
            <svg>
                <use></use>
            </svg>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</p>
            <img src="#" alt="profile-image">
            <h3>Lori Bryson</h3>
            <p>UX Designer, @Company</p>
        </li>
    </ul>
</section>