<section class="testimonials">
  <div class="container testimonials-container">
    <h2 class="content-title testimonials-title">What our students say</h2>
    <p class="testimonials-subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <svg width="300" height="20" class="review-mark">
          <use href="../img/symbol-defs.svg#icon-stars2"></use>
        </svg>
        <p class="review-text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare."
        </p>
        <div class="reviewer-info-wrapper">
          <img
            src="../img/avatar1.jpg"
            alt="profile-image"
            class="reviewer-avatar"
          />
          <div class="reviewer-into-text-wrapper">
            <h3 class="reviewer-name">Orlando Diggs</h3>
            <p class="reviewer-position">Junior UI Designer, @Company</p>
          </div>
        </div>
      </li>
      <li class="reviews-list-item">
        <svg width="300" height="20" class="review-mark">
          <use href="../img/symbol-defs.svg#icon-stars2"></use>
        </svg>
        <p class="review-text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare."
        </p>
        <div class="reviewer-info-wrapper">
          <img
            src="../img/avatar2.jpg"
            alt="profile-image"
            class="reviewer-avatar"
          />
          <div class="reviewer-into-text-wrapper">
            <h3 class="reviewer-name">Mollie Hall</h3>
            <p class="reviewer-position">Design System Manager, @Company</p>
          </div>
        </div>
      </li>
      <li class="reviews-list-item">
        <svg width="300" height="20" class="review-mark">
          <use href="../img/symbol-defs.svg#icon-stars2"></use>
        </svg>
        <p class="review-text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique. Duis cursus, mi quis viverra
          ornare."
        </p>
        <div class="reviewer-info-wrapper">
          <img
            src="../img/avatar3.jpg"
            alt="profile-image"
            class="reviewer-avatar"
          />
          <div class="reviewer-into-text-wrapper">
            <h3 class="reviewer-name">Lori Bryson</h3>
            <p class="reviewer-position">UX Designer, @Company</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
