<section class="trending">
  <h2 class="content-title trending-title">The most popular courses</h2>
  <p class="trending-subtitle">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.
  </p>
  <ul class="trending-list">
    <li class="trending-list-item">
      <div class="course-info-wrapper">
        <span class="course-level">Beginner</span>
        <h3 class="course-title">Webflow Basics Masterclass</h3>
        <p class="course-price">$ 24.00 USD</p>
      </div>
      <button class="course-btn">Enroll Course</button>
      <img src="../img/course1img.png" alt="notebooks" class="course-img" />
    </li>
    <li class="trending-list-item">
      <div class="course-info-wrapper">
        <span class="course-level">Elementary</span>
        <h3 class="course-title">Webflow Interactions Masterclass</h3>
        <p class="course-price">$ 55.00 USD</p>
      </div>
      <button class="course-btn">Enroll Course</button>
      <img
        src="../img/course2img.png"
        alt="beautiful-workplace"
        class="course-img"
      />
    </li>
    <li class="trending-list-item">
      <div class="course-info-wrapper">
        <span class="course-level">Beginner</span>
        <h3 class="course-title">Advanced CMS and Integrations</h3>
        <p class="course-price">$ 38.00 USD</p>
      </div>
      <button class="course-btn">Enroll Course</button>
      <img
        src="../img/course3img.png"
        alt="example-of-meeting"
        class="course-img"
      />
    </li>
  </ul>
</section>
